<?xml version="0.1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.brycem.scanmedia" version="0.1.0">
    <name>ScanMedia</name>
    <description>Cordova Scan Media Plugin</description>
    <license>MIT</license>
    <keywords>cordova,android,media,scanner</keywords>
    <js-module src="www/scanMedia.js" name="scanMedia">
        <clobbers target="scanmedia" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="scanMedia">
                <param name="android-package" value="org.brycem.scanmedia"/>
            </feature>
        </config-file>

        <source-file src="src/android/scanMedia.java" target-dir="src/org/brycem/scanmedia"/>
    </platform>
    
</plugin>
