<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.brycem.scanmedia" version="0.1.0">
    <name>ScanMedia</name>
    <description>Cordova Scan Media Plugin</description>
    <license>MIT</license>
    <keywords>cordova,android</keywords>
    <js-module src="www/ScanMedia.js" name="ScanMedia">
        <clobbers target="window.plugins.scanMedia" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ScanMedia">
                <param name="android-package" value="org.brycem.scanmedia.ScanMedia"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/ScanMedia.java" target-dir="src/org/brycem/scanmedia"/>
    </platform>
    
</plugin>